<div class="row" *ngIf="installer">
    <div class="col-8">
        <div class="alert alert-info" *ngIf="updateForm.dirty">
            <strong>Let op: </strong>Je hebt wijzigingen aangebracht. Niet opgeslagen gegevens gaan verloren!
        </div>
    </div>
    <div class="col-8">
        <div class="card">
            <div class="card-body">
                <tabset class="installer-tabset">
                    <tab heading='Id: {{installer.id}}'>
                        <form #updateForm="ngForm" id="updateForm" (ngSubmit)="updateInstaller()">
                            <h4 class="mt-4 mb-1">Gebruikersnaam</h4>
                            <textarea class="form-control" [(ngModel)]="installer.username" name="username" id="" cols="30" rows="1"></textarea>
                            <h4 class="mt-4 mb-1">Email</h4>
                            <textarea class="form-control" [(ngModel)]="installer.email" name="email" id="" cols="30" rows="1"></textarea>
                            <h4 class="mt-4 mb-1">Telefoon</h4>
                            <textarea class="form-control" [(ngModel)]="installer.phoneNumber" name="phoneNumber" id="" cols="30" rows="1"></textarea>
                            <h4 class="mt-4 mb-1">Beschikbaar</h4>
                            <textarea class="form-control" [(ngModel)]="installer.available" name="available" id="" cols="30" rows="1"></textarea>
                            <h4 class="mt-4 mb-1">Adres</h4>
                            <div class="form-inline">
                                <label for="stad">Stad:</label>
                                <input type="text" name="stad" class="form-control mx-2"> <!--[(ngModel)]="installer.username"--> 
                                <label for="straat">Straat:</label>
                                <input type="text" name="straat" class="form-control mx-2"> <!--[(ngModel)]="installer.username" -->
                            </div>
                        </form>
                    </tab>
                    <tab heading="Administratie">
                        <p>Administratie hier</p>
                    </tab>
                </tabset>
            </div>
            <div class="card-footer">
                <button mat-raised-button [disabled]="!updateForm.dirty" form="updateForm" type="submit" class="confirmButton">Opslaan</button>
                <button mat-raised-button class="mr-2" (click)="cancel()" type="button">Annuleer</button>
            </div>
        </div>    
    </div>
</div>
