<div class="container mt-6 md-5">
  <div class="row" style="text-align: center;">
    <div class="column" style="background-color:transparent; margin: auto;">
      <h2>Welkom bij XPlan.</h2>
      <p>Online Planner</p>
    </div>
  </div>
</div>
<div class="container mt-6 md-5">
  <div class="row" style="text-align: center;">
    <div class="container" *appHasRole='["Admin"]'>
      <app-admin-panel></app-admin-panel>
    </div>
    <div class="container" *appHasRole='["Installer"]'>
      <app-installer-panel></app-installer-panel>
    </div>
    <div class="container" *appHasRole='["Customer"]'>
      <app-customer-panel></app-customer-panel>
    </div>
  </div>
</div>
