<div>
    <form #findForm="ngForm" (ngSubmit)="getInstaller(installer.username)" autocomplete="off">
        <h2 class="text-center text-primary">Zoek installateur</h2>
        <hr>
        <div class="form-group">
            <label for="username">Voer gebruikersnaam of e-mailadres in</label>
            <input type="text" class="form-control" id="username" name="username" [(ngModel)]="installer.username" placeholder="Gebruikersnaam/e-mail"/>
        </div>
        <div class="form-group text-center">
            <button mat-raised-button class="mr-2" style="background-color: black; color: white;" type="submit">Zoek</button>
            <button mat-raised-button class="mr-2" (click)="cancel()" type="button">Annuleer</button>
        </div>
    </form>

    <div *ngIf="installer.id > 0" id="found-installer">
        <p>Gevonden Installateur</p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Gebruikersnaam</th>
                    <th scope="col">Email</th>
                    <th scope="col">Telefoon</th>
                    <th scope="col">Beschikbaar</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ installer.id }}</td>
                    <td>{{ installer.username }}</td>
                    <td>{{ installer.email }}</td>
                    <td>{{ installer.phoneNumber }}</td>
                    <td>{{ installer.available }}</td>
                </tr>
            </tbody>
        </table>
        <br>
        <div class="form-group text-center">
            <button mat-raised-button class="ml-2 mb-3" style="background-color: black; color: white;" routerLink='/update/installer'>Wijzig Installateur</button>
            <button mat-raised-button class="mr-2 ml-2" (click)="deleteInstaller(installer)" type="button">Verwijder Installateur</button>
        </div>
    </div>
</div>
