.navbar{
    padding-left:150px;
    padding-right:150px;
}

.dropdown-toggle, .dropdown-item {
    cursor: pointer;
}

.btn-outline-success {
    background-color: #2c5af1;
    color:#FFF;
}

#passwordForgot {
    color:rgb(26, 22, 22);
    padding-left: 10px;
    text-decoration: underline;
}