<div id="datepck">
    <h5>Selecteer beschikbare periode</h5>
    <form [formGroup]="form">
        <mat-form-field>
            <mat-date-range-input 
                [rangePicker]="picker" 
                [comparisonStart]="comparisonStart" 
                [comparisonEnd]="comparisonEnd" 
                [dateFilter]="unavailableDays"
                formGroupName="daterange">
                <input matStartDate placeholder="Start date" formControlName="start">
                <input matEndDate placeholder="End date" formControlName="end">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        <button (click)="onSubmit()">Bevestig</button>
    </form>
</div>

