<!-- 
<div><strong>====Lijst met beschikbaarheid==========</strong><br>Beschikbaar
    <div class="row">
      <div class="col-2">Id
        <p *ngFor='let available of availables'>{{available.id}}</p>
      </div>
      <div class="col-2">Datum
        <p *ngFor='let available of availables'>{{available.date}}</p>
      </div>
    </div>
</div>
-->

<div id="datepck">
    <h5>Selecteer beschikbare periode</h5>
    <form > <!--[formGroup]="form"--> <!--(ngSubmit)="getInstallerAvailables()"-->
        <mat-form-field>
            <input matInput [matDatepickerFilter]="myFilter" [matDatepicker]="picker" placeholder="Selecteer een dag"> <!--id="date" [formControl]="dateFromForm" --> <!--readonly-->
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker ></mat-datepicker> <!--[opened]="true" -->
        </mat-form-field>
        <br>
        <button type="submit">Bevestig</button> <!--(click)="onSubmit()"-->
    </form>
</div>

<!-- 
            <mat-date-range-input 
                [rangePicker]="picker" 
                [comparisonStart]="comparisonStart" 
                [comparisonEnd]="comparisonEnd" 
                [dateFilter]="unavailableDays"
                formGroupName="daterange">
                <input matStartDate placeholder="Startdatum" formControlName="start">
                <input matEndDate placeholder="Einddatum" formControlName="end">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker> -->
